[submodule "third_party/ArcticInference_srt"]
	path = third_party/ArcticInference_srt
	url = git@github.com:shadowpa0327/ArcticInference_srt.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = git@github.com:shadowpa0327/vllm.git
